.userMenuStyle {
  display: flex;
}

.logOutBtm {
  font-size: 20px;
  font-style: normal;
  margin-left: 20px;

  background-color: lightgrey;

  border-radius: 5px;
}

.logOutBtm:hover {
  background-color: white;
  font-style: italic;
}
