.homePageTitle {
  display: block;

  font-size: 30px;
  font-weight: 700;
  font-style: italic;
  color: white;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
}

.phoneBookImgStyle {
  width: 600px;
  display: block;
  margin: 0 auto;
}
